.personInfo {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.5s;
  &:first-of-type {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  &:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  & div {
    padding: 0.5vh 1vw;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.5s;
    &:hover {
      text-shadow: 3px 2px 5px gray;
    }
    & ~ div {
      border-left: 1px solid black;
    }
  }
  &_id {
    width: 5vw;
  }
  &_name {
    width: 10vw;
  }
  &_contact {
    width: 15vw;
  }
  &_state {
    width: 5vw;
  }
}
.profile-table {
  &:hover {
    transform: scale(1.1);
    border-radius: 15px;
  }
}
