.personInfo {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  width: 60vw;
  z-index: 2;
  height: 4vh;
  align-items: center;
  box-sizing: border-box;

  &:first-of-type {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid indigo;
  }

  &:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  & div {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

    & ~ div {
      border-left: 1px solid indigo;
    }
  }
  &_id {
    width: 5vw;
  }
  &_name {
    width: 10vw;
  }
  &_contact {
    width: 15vw;
  }
  &_state {
    width: 5vw;
  }
}
.profile-table {
  font-weight: normal;
  height: 2.9vh;

  &:hover {
    transform: scale(1.2);
    border-radius: 15px;
    position: relative;
    z-index: 5;
    box-shadow: 0px 0px 20px rgba(indigo, 0.5);
    background-color: lightskyblue;
    border: 3px solid indigo;
  }
}
